<% form_for(@item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 93 %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :cols => 80 %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price, :size => 10 %>
  </p>
  <p>
    <%= f.check_box :is_active %> <%= f.label :is_active %>
  </p>
  <p>
    <%= f.check_box :show_in_slideshow %> <%= f.label :show_in_slideshow %> 
  </p>
  <p>
    <%= f.check_box :is_sold %> <%= f.label :is_sold %> 
  </p>
  <p>
    <%= f.check_box :is_forsale %> <%= f.label :is_forsale %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>